.godot/
runtime/
assets/generated/*
!assets/generated/skater.glb
!assets/generated/skater.glb.import
!assets/generated/skater-berserker.glb
!assets/generated/skater-berserker.glb.import
!assets/generated/skater-competition.glb
!assets/generated/skater-competition.glb.import
exports/
*.tmp
